@import "tailwindcss";

@theme inline {
    /* custom shadow */
    --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    --shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --shadow-md:
        0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

    /* custom typography */
    --text-xs: 0.75rem;
    --text-xs--line-height: 1.1875rem;
    --text-xs--font-weight: 400;
    --text-xs-bold: 0.75rem;
    --text-xs-bold--line-height: 1.1875rem;
    --text-xs-bold--font-weight: 800;
    --text-sm: 1rem;
    --text-sm--line-height: 1.4375rem;
    --text-sm--font-weight: 400;
    --text-base: 1.125rem;
    --text-base--line-height: 1.625rem;
    --text-base--font-weight: 400;
    --text-base-bold: 1.125rem;
    --text-base-bold--line-height: 1.625rem;
    --text-base-bold--font-weight: 800;
    --text-lg: 1.25rem;
    --text-lg--line-height: 1.8125rem;
    --text-lg--font-weight: 400;
    --text-title-lg: 1.25rem;
    --text-title-lg--line-height: 1.625rem;
    --text-title-lg--font-weight: 500;
    --text-title-xl: 1.5rem;
    --text-title-xl--line-height: 1.875rem;
    --text-title-xl--font-weight: 500;
    --text-title-2xl: 1.75rem;
    --text-title-2xl--line-height: 2.25rem;
    --text-title-2xl--font-weight: 500;
    --text-title-3xl: 2rem;
    --text-title-3xl--line-height: 2.375rem;
    --text-title-3xl--font-weight: 500;
    --text-title-4xl: 3.5rem;
    --text-title-4xl--line-height: 4rem;
    --text-title-4xl--font-weight: 500;

    /* custom colors */
    --background-color-00: var(--colors-neutral-50);
    --background-color-01: var(--colors-neutral-100);
    --background-color-02: var(--colors-neutral-200);
    --background-color-inverted-00: var(--colors-neutral-950);
    --background-color-inverted-01: var(--colors-neutral-900);
    --background-color-neutral-00: var(--colors-neutral-50);
    --background-color-neutral-01: var(--colors-neutral-100);
    --background-color-neutral-02: var(--colors-neutral-200);
    --background-color-neutral-03: var(--colors-neutral-300);
    --background-color-neutral-04: var(--colors-neutral-400);
    --background-color-neutral-invert-00: var(--colors-neutral-950);
    --background-color-neutral-invert-01: var(--colors-neutral-900);
    --background-color-neutral-invert-02: var(--colors-neutral-800);
    --background-color-neutral-invert-03: var(--colors-neutral-700);
    --background-color-neutral-state-00-hover: var(--colors-neutral-100);
    --background-color-neutral-alpha-01-alpha: var(--colors-neutral-alpha-50a05);
    --background-color-neutral-alpha-02-alpha: var(--colors-neutral-alpha-50a20);
    --background-color-neutral-alpha-03-alpha: var(--colors-neutral-alpha-50a65);
    --background-color-neutral-alpha-04-alpha: var(--colors-neutral-alpha-50a75);
    --background-color-neutral-state-00-pressed: var(--colors-neutral-100);
    --background-color-neutral-state-00-disabled: var(--colors-neutral-300);
    --background-color-neutral-state-01-hover: var(--colors-neutral-50);
    --background-color-neutral-state-01-pressed: var(--colors-neutral-200);
    --background-color-neutral-state-02-hover: var(--colors-neutral-100);
    --background-color-neutral-state-02-pressed: var(--colors-neutral-300);
    --background-color-neutral-state-02-disabled: var(--colors-neutral-300);
    --background-color-neutral-state-03-hover: var(--colors-neutral-300);
    --background-color-neutral-state-03-pressed: var(--colors-neutral-600);
    --background-color-neutral-state-03-disabled: var(--colors-neutral-300);
    --background-color-button-primary-01: var(--colors-neutral-950);
    --background-color-button-primary-02: var(--colors-neutral-50);
    --background-color-button-primary-state-01-hover: var(
        --colors-neutral-alpha-950a50
    );
    --background-color-button-primary-state-01-pressed: var(
        --colors-neutral-alpha-950a75
    );
    --background-color-button-primary-state-01-disabled: var(
        --colors-neutral-300
    );
    --background-color-button-primary-state-02-hover: var(
        --colors-neutral-alpha-50a50
    );
    --background-color-target-00: var(--colors-yellow-100);
    --background-color-button-primary-state-02-pressed: var(
        --colors-neutral-alpha-50a75
    );
    --background-color-target-01: var(--colors-yellow-300);
    --background-color-target-02: var(--colors-yellow-500);
    --background-color-target-03: var(--colors-yellow-600);
    --background-color-button-primary-state-02-disabled: var(
        --colors-neutral-300
    );
    --background-color-target-04: var(--colors-yellow-700);
    --background-color-turquoise-00: var(--colors-muted-turquoise-100);
    --background-color-turquoise-01: var(--colors-muted-turquoise-200);
    --background-color-turquoise-02: var(--colors-muted-turquoise-400);
    --background-color-turquoise-03: var(--colors-muted-turquoise-600);
    --background-color-turquoise-04: var(--colors-muted-turquoise-800);
    --background-color-target-state-01-hover: var(--colors-yellow-500);
    --background-color-target-alpha-01-alpha: var(--colors-yellow-alpha-500a10);
    --background-color-target-alpha-02-alpha: var(--colors-yellow-alpha-500a20);
    --background-color-target-alpha-03-alpha: var(--colors-yellow-alpha-500a40);
    --background-color-target-alpha-04-alpha: var(--colors-yellow-alpha-500a60);
    --background-color-target-state-01-pressed: var(--colors-yellow-800);
    --background-color-target-state-02-hover: var(--colors-yellow-400);
    --background-color-target-state-02-pressed: var(--colors-yellow-600);
    --background-color-target-state-03-hover: var(--colors-yellow-200);
    --background-color-target-state-03-pressed: var(--colors-yellow-400);
    --background-color-target-state-04-hover: var(--colors-yellow-50);
    --background-color-target-state-04-pressed: var(--colors-yellow-200);
    --background-color-turquoise-state-01-hover: var(
        --colors-muted-turquoise-700
    );
    --background-color-turquoise-state-01-pressed: var(
        --colors-muted-turquoise-900
    );
    --background-color-turquoise-state-02-hover: var(
        --colors-muted-turquoise-500
    );
    --background-color-turquoise-state-02-pressed: var(
        --colors-muted-turquoise-700
    );
    --background-color-turquoise-state-03-hover: var(
        --colors-muted-turquoise-300
    );
    --background-color-turquoise-state-03-pressed: var(
        --colors-muted-turquoise-500
    );
    --background-color-turquoise-state-04-hover: var(
        --colors-muted-turquoise-100
    );
    --background-color-turquoise-state-04-pressed: var(
        --colors-muted-turquoise-300
    );
    --background-color-turquoise-alpha-01-alpha: var(
        --colors-muted-turquoise-alpha-500a10
    );
    --background-color-turquoise-alpha-02-alpha: var(
        --colors-muted-turquoise-alpha-500a30
    );
    --background-color-turquoise-alpha-03-alpha: var(
        --colors-muted-turquoise-alpha-500a40
    );
    --background-color-turquoise-alpha-04-alpha: var(
        --colors-muted-turquoise-alpha-500a60
    );
    --background-color-light-blue-00: var(--colors-muted-blue-50);
    --background-color-light-blue-01: var(--colors-muted-blue-300);
    --background-color-light-blue-02: var(--colors-muted-blue-500);
    --background-color-light-blue-03: var(--colors-muted-blue-600);
    --background-color-light-blue-04: var(--colors-muted-blue-700);
    --background-color-light-blue-alpha-01-alpha: var(
        --colors-muted-blue-alpha-500a10
    );
    --background-color-light-blue-alpha-02-alpha: var(
        --colors-muted-blue-alpha-500a30
    );
    --background-color-light-blue-alpha-03-alpha: var(
        --colors-muted-blue-alpha-500a40
    );
    --background-color-light-blue-alpha-04-alpha: var(
        --colors-muted-blue-alpha-500a60
    );
    --background-color-green-00: var(--colors-muted-green-50);
    --background-color-green-01: var(--colors-muted-green-300);
    --background-color-green-02: var(--colors-muted-green-500);
    --background-color-green-03: var(--colors-muted-green-600);
    --background-color-green-04: var(--colors-muted-green-700);
    --background-color-orange-00: var(--colors-muted-orange-50);
    --background-color-orange-01: var(--colors-muted-orange-300);
    --background-color-orange-02: var(--colors-muted-orange-500);
    --background-color-orange-03: var(--colors-muted-orange-700);
    --background-color-orange-04: var(--colors-muted-orange-800);
    --background-color-purple-00: var(--colors-muted-purple-50);
    --background-color-purple-01: var(--colors-muted-purple-300);
    --background-color-purple-02: var(--colors-muted-purple-400);
    --background-color-purple-03: var(--colors-muted-purple-600);
    --background-color-purple-04: var(--colors-muted-purple-700);
    --background-color-purple-alpha-01-alpha: var(
        --colors-muted-purple-alpha-500a10
    );
    --background-color-purple-alpha-02-alpha: var(
        --colors-muted-purple-alpha-500a30
    );
    --background-color-purple-alpha-03-alpha: var(
        --colors-muted-purple-alpha-500a40
    );
    --background-color-purple-alpha-04-alpha: var(
        --colors-muted-purple-alpha-500a60
    );
    --background-color-danger-01: var(--colors-red-50);
    --background-color-danger-02: var(--colors-red-100);
    --background-color-danger-state-01-hover: var(--colors-red-alpha-500a10);
    --background-color-danger-03: var(--colors-red-200);
    --background-color-danger-04: var(--colors-red-500);
    --background-color-danger-state-01-pressed: var(--colors-red-alpha-500a20);
    --background-color-danger-state-02-hover: var(--colors-red-alpha-500a10);
    --background-color-danger-state-02-pressed: var(--colors-red-alpha-500a20);
    --background-color-danger-state-03-hover: var(--colors-red-alpha-500a40);
    --background-color-danger-state-03-pressed: var(--colors-red-alpha-500a60);
    --background-color-danger-state-04-hover: var(--colors-red-400);
    --background-color-danger-state-04-pressed: var(--colors-red-600);
    --background-color-tags-primary: var(--colors-neutral-950);
    --background-color-tags-secondary: var(--colors-neutral-alpha-950a20);
    --background-color-tags-danger-solid: var(--colors-red-500);
    --background-color-tags-danger-soft: var(--colors-red-100);
    --background-color-tags-state-primary-hover: var(--colors-neutral-900);
    --background-color-tags-state-primary-pressed: var(--colors-neutral-950);
    --background-color-tags-state-primary-disabled: var(--colors-neutral-300);
    --background-color-tags-state-secondary-hover: var(
        --colors-neutral-alpha-950a10
    );
    --background-color-tags-state-secondary-pressed: var(
        --colors-neutral-alpha-950a40
    );
    --background-color-tags-state-secondary-disabled: var(--colors-neutral-300);
    --background-color-tags-state-danger-solid-hover: var(--colors-red-400);
    --background-color-tags-state-danger-solid-pressed: var(--colors-red-600);
    --background-color-tags-state-danger-solid-disabled: var(
        --colors-neutral-300
    );
    --background-color-tags-state-danger-soft-hover: var(--colors-red-50);
    --background-color-tags-state-danger-soft-pressed: var(
        --colors-red-alpha-500a20
    );
    --background-color-tags-state-danger-soft-disabled: var(--colors-neutral-300);
    --background-color-orange-alpha-01-alpha: var(
        --colors-muted-orange-alpha-500a10
    );
    --background-color-orange-alpha-02-alpha: var(
        --colors-muted-orange-alpha-500a20
    );
    --background-color-orange-alpha-03-alpha: var(
        --colors-muted-orange-alpha-500a40
    );
    --background-color-orange-alpha-04-alpha: var(
        --colors-muted-orange-alpha-500a60
    );
    --background-color-green-alpha-01-alpha: var(
        --colors-muted-green-alpha-600a10
    );
    --background-color-green-alpha-02-alpha: var(
        --colors-muted-green-alpha-600a20
    );
    --background-color-green-alpha-03-alpha: var(
        --colors-muted-green-alpha-600a40
    );
    --background-color-green-alpha-04-alpha: var(
        --colors-muted-green-alpha-600a60
    );

    --text-color-neutral-primary: var(--colors-neutral-950);
    --text-color-neutral-secondary: var(--colors-neutral-700);
    --text-color-neutral-tiertiary: var(--colors-neutral-600);
    --text-color-neutral-invert-primary: var(--colors-neutral-50);
    --text-color-neutral-invert-secondary: var(--colors-neutral-alpha-50a75);
    --text-color-neutral-invert-tiertiary: var(--colors-neutral-alpha-50a50);
    --text-color-semantic-success-primary: var(--colors-muted-green-600);
    --text-color-semantic-success-secondary: var(
        --colors-muted-green-alpha-600a60
    );
    --text-color-semantic-success-invert-primary: var(--colors-muted-green-50);
    --text-color-semantic-success-invert-secondary: var(
        --colors-muted-turquoise-100
    );
    --text-color-semantic-warning-primary: var(--colors-muted-orange-600);
    --text-color-semantic-warning-secondary: var(
        --colors-muted-orange-alpha-500a60
    );
    --text-color-semantic-warning-invert-primary: var(--colors-muted-orange-50);
    --text-color-semantic-warning-invert-secondary: var(
        --colors-muted-orange-100
    );
    --text-color-semantic-danger-primary: var(--colors-red-600);
    --text-color-semantic-danger-secondary: var(--colors-red-alpha-500a60);
    --text-color-semantic-danger-invert-primary: var(--colors-red-50);
    --text-color-semantic-danger-invert-secondary: var(--colors-red-200);
    --text-color-semantic-info-primary: var(--colors-muted-turquoise-500);
    --text-color-semantic-info-secondary: var(
        --colors-muted-turquoise-alpha-500a60
    );
    --text-color-semantic-info-invert-primary: var(--colors-muted-turquoise-50);
    --text-color-semantic-info-invert-primary-2: var(
        --colors-muted-turquoise-100
    );

    --border-color-neutral-primary: var(--colors-neutral-alpha-950a20);
    --border-color-neutral-secondary: var(--colors-neutral-alpha-950a10);
    --border-color-neutral-invert-secondary: var(--colors-neutral-alpha-50a20);
    --border-color-neutral-strong: var(--colors-neutral-950);
    --border-color-neutral-states-primary-hover: var(--colors-neutral-100);
    --border-color-neutral-states-primary-pressed: var(--colors-neutral-300);
    --border-color-neutral-states-secondary-hover: var(--colors-neutral-300);
    --border-color-neutral-states-secondary-pressed: var(--colors-neutral-500);
    --border-color-neutral-states-secondary-disabled: var(--colors-neutral-400);
    --border-color-neutral-states-strong-hover: var(
        --colors-neutral-alpha-950a50
    );
    --border-color-neutral-states-strong-pressed: var(
        --colors-neutral-alpha-950a75
    );
    --border-color-neutral-states-strong-disabled: var(--colors-neutral-400);
    --border-color-highlight-primary: var(--colors-muted-turquoise-500);
    --border-color-highlight-secondary: var(
        --colors-muted-turquoise-alpha-500a30
    );
    --border-color-highlight-state-disabled: var(--colors-neutral-400);
    --border-color-highlight-state-hover: var(--colors-muted-turquoise-400);
    --border-color-highlight-state-pressed: var(--colors-muted-turquoise-600);
    --border-color-danger-primary: var(--colors-red-600);
    --border-color-danger-state-disabled: var(--colors-neutral-400);
    --border-color-danger-state-hover: var(--colors-red-500);
    --border-color-danger-state-pressed: var(--colors-red-700);
    --border-color-accent-primary: var(--colors-yellow-500);
    --border-color-accent-secondary: var(--colors-yellow-alpha-500a60);
    --border-color-accent-state-disabled: var(--colors-neutral-400);
    --border-color-accent-state-hover: var(--colors-yellow-400);
    --border-color-accent-state-pressed: var(--colors-yellow-700);
}

:root {
    /* custom colors */
	--white: rgb(255, 255, 255);
	--black: rgb(0, 0, 0);
	--colors-neutral-alpha-50a05: rgba(249, 249, 249, 0.05);
	--colors-neutral-alpha-50a10: rgba(249, 249, 249, 0.1);
	--colors-neutral-alpha-50a20: rgba(249, 249, 249, 0.2);
	--colors-neutral-alpha-50a50: rgba(249, 249, 249, 0.5);
	--colors-neutral-alpha-50a65: rgba(249, 249, 249, 0.65);
	--colors-neutral-alpha-50a75: rgba(249, 249, 249, 0.75);
	--colors-neutral-50: rgb(252, 252, 253);
	--colors-neutral-100: rgb(249, 249, 249);
	--colors-neutral-200: rgb(245, 247, 250);
	--colors-neutral-300: rgb(232, 234, 238);
	--colors-neutral-400: rgb(217, 220, 227);
	--colors-neutral-500: rgb(197, 202, 211);
	--colors-neutral-600: rgb(180, 186, 198);
	--colors-neutral-700: rgb(103, 112, 126);
	--colors-neutral-800: rgb(33, 41, 44);
	--colors-neutral-900: rgb(24, 28, 30);
	--colors-neutral-950: rgb(15, 15, 15);
	--colors-neutral-alpha-950a5: rgba(15, 15, 15, 0.05);
	--colors-neutral-alpha-950a10: rgba(15, 15, 15, 0.1);
	--colors-neutral-alpha-950a20: rgba(15, 15, 15, 0.2);
	--colors-neutral-alpha-950a40: rgba(15, 15, 15, 0.4);
	--colors-neutral-alpha-950a50: rgba(15, 15, 15, 0.5);
	--colors-neutral-alpha-950a75: rgba(15, 15, 15, 0.75);
	--colors-yellow-50: rgb(255, 252, 243);
	--colors-yellow-100: rgb(255, 249, 230);
	--colors-yellow-200: rgb(255, 244, 203);
	--colors-yellow-300: rgb(255, 241, 187);
	--colors-yellow-400: rgb(255, 235, 151);
	--colors-yellow-500: rgb(255, 230, 107);
	--colors-yellow-600: rgb(255, 216, 69);
	--colors-yellow-700: rgb(236, 169, 6);
	--colors-yellow-800: rgb(204, 129, 2);
	--colors-yellow-900: rgb(114, 58, 17);
	--colors-yellow-950: rgb(67, 29, 5);
	--colors-yellow-alpha-500a5: rgba(255, 230, 107, 0.05);
	--colors-yellow-alpha-500a10: rgba(255, 230, 107, 0.1);
	--colors-yellow-alpha-500a20: rgba(255, 230, 107, 0.2);
	--colors-yellow-alpha-500a40: rgba(255, 230, 107, 0.4);
	--colors-yellow-alpha-500a60: rgba(255, 230, 107, 0.6);
	--colors-red-50: rgb(250, 247, 247);
	--colors-red-100: rgb(249, 242, 242);
	--colors-red-200: rgb(253, 227, 227);
	--colors-red-300: rgb(250, 167, 167);
	--colors-red-400: rgb(245, 116, 116);
	--colors-red-500: rgb(236, 71, 71);
	--colors-red-600: rgb(182, 31, 31);
	--colors-red-700: rgb(149, 23, 23);
	--colors-red-800: rgb(116, 16, 16);
	--colors-red-900: rgb(84, 9, 9);
	--colors-red-950: rgb(55, 4, 4);
	--colors-red-alpha-500a5: rgba(236, 71, 71, 0.05);
	--colors-red-alpha-500a10: rgba(236, 71, 71, 0.1);
	--colors-red-alpha-500a20: rgba(236, 71, 71, 0.2);
	--colors-red-alpha-500a40: rgba(236, 71, 71, 0.4);
	--colors-red-alpha-500a60: rgba(236, 71, 71, 0.6);
	--colors-muted-blue-50: rgb(244, 250, 251);
	--colors-muted-blue-100: rgb(239, 248, 250);
	--colors-muted-blue-200: rgb(217, 239, 242);
	--colors-muted-blue-300: rgb(199, 233, 237);
	--colors-muted-blue-400: rgb(177, 223, 230);
	--colors-muted-blue-500: rgb(169, 214, 220);
	--colors-muted-blue-600: rgb(131, 167, 171);
	--colors-muted-blue-700: rgb(97, 124, 127);
	--colors-muted-blue-800: rgb(62, 81, 83);
	--colors-muted-blue-900: rgb(32, 44, 45);
	--colors-muted-blue-950: rgb(17, 25, 26);
	--colors-muted-blue-alpha-500a5: rgba(169, 214, 220, 0.05);
	--colors-muted-blue-alpha-500a10: rgba(169, 214, 220, 0.1);
	--colors-muted-blue-alpha-500a30: rgba(169, 214, 220, 0.3);
	--colors-muted-blue-alpha-500a40: rgba(169, 214, 220, 0.4);
	--colors-muted-blue-alpha-500a60: rgba(169, 214, 220, 0.6);
	--colors-muted-purple-50: rgb(249, 249, 254);
	--colors-muted-purple-100: rgb(240, 240, 252);
	--colors-muted-purple-200: rgb(234, 233, 253);
	--colors-muted-purple-300: rgb(217, 216, 249);
	--colors-muted-purple-400: rgb(190, 188, 237);
	--colors-muted-purple-500: rgb(165, 163, 229);
	--colors-muted-purple-600: rgb(146, 143, 213);
	--colors-muted-purple-700: rgb(106, 102, 183);
	--colors-muted-purple-800: rgb(68, 64, 134);
	--colors-muted-purple-900: rgb(38, 36, 70);
	--colors-muted-purple-950: rgb(23, 22, 39);
	--colors-muted-purple-alpha-500a5: rgba(165, 163, 229, 0.05);
	--colors-muted-purple-alpha-500a10: rgba(165, 163, 229, 0.1);
	--colors-muted-purple-alpha-500a30: rgba(165, 163, 229, 0.2);
	--colors-muted-purple-alpha-500a40: rgba(165, 163, 229, 0.4);
	--colors-muted-purple-alpha-500a60: rgba(165, 163, 229, 0.6);
	--colors-muted-turquoise-50: rgb(240, 248, 246);
	--colors-muted-turquoise-100: rgb(219, 243, 236);
	--colors-muted-turquoise-200: rgb(200, 240, 228);
	--colors-muted-turquoise-300: rgb(169, 225, 210);
	--colors-muted-turquoise-400: rgb(138, 206, 188);
	--colors-muted-turquoise-500: rgb(117, 190, 171);
	--colors-muted-turquoise-600: rgb(99, 149, 136);
	--colors-muted-turquoise-700: rgb(74, 108, 99);
	--colors-muted-turquoise-800: rgb(51, 73, 67);
	--colors-muted-turquoise-900: rgb(27, 38, 35);
	--colors-muted-turquoise-950: rgb(16, 23, 21);
	--colors-muted-turquoise-alpha-500a5: rgba(117, 190, 171, 0.05);
	--colors-muted-turquoise-alpha-500a10: rgba(117, 190, 171, 0.1);
	--colors-muted-turquoise-alpha-500a30: rgba(117, 190, 171, 0.3);
	--colors-muted-turquoise-alpha-500a40: rgba(117, 190, 171, 0.4);
	--colors-muted-turquoise-alpha-500a60: rgba(35, 166, 130, 0.6);
	--colors-muted-green-50: rgb(241, 244, 240);
	--colors-muted-green-100: rgb(237, 246, 235);
	--colors-muted-green-200: rgb(222, 236, 219);
	--colors-muted-green-300: rgb(201, 228, 194);
	--colors-muted-green-400: rgb(187, 218, 178);
	--colors-muted-green-500: rgb(168, 208, 156);
	--colors-muted-green-600: rgb(132, 164, 122);
	--colors-muted-green-700: rgb(96, 121, 89);
	--colors-muted-green-800: rgb(63, 80, 58);
	--colors-muted-green-900: rgb(32, 43, 29);
	--colors-muted-green-950: rgb(18, 25, 16);
	--colors-muted-green-alpha-600a5: rgba(168, 208, 156, 0.05);
	--colors-muted-green-alpha-600a10: rgba(168, 208, 156, 0.1);
	--colors-muted-green-alpha-600a20: rgba(168, 208, 156, 0.3);
	--colors-muted-green-alpha-600a40: rgba(168, 208, 156, 0.4);
	--colors-muted-green-alpha-600a60: rgba(168, 208, 156, 0.6);
	--colors-muted-orange-50: rgb(252, 249, 240);
	--colors-muted-orange-100: rgb(249, 243, 228);
	--colors-muted-orange-200: rgb(244, 228, 195);
	--colors-muted-orange-300: rgb(242, 214, 172);
	--colors-muted-orange-400: rgb(241, 197, 142);
	--colors-muted-orange-500: rgb(241, 181, 120);
	--colors-muted-orange-600: rgb(241, 162, 89);
	--colors-muted-orange-700: rgb(240, 144, 70);
	--colors-muted-orange-800: rgb(172, 82, 13);
	--colors-muted-orange-900: rgb(87, 39, 0);
	--colors-muted-orange-950: rgb(37, 17, 0);
	--colors-muted-orange-alpha-500a5: rgba(241, 162, 89, 0.05);
	--colors-muted-orange-alpha-500a10: rgba(241, 162, 89, 0.1);
	--colors-muted-orange-alpha-500a20: rgba(241, 162, 89, 0.2);
	--colors-muted-orange-alpha-500a40: rgba(241, 162, 89, 0.4);
	--colors-muted-orange-alpha-500a60: rgba(241, 162, 89, 0.6);
}